.HealthPlan{
  padding: 35px;
}
.PlanHeader{
  width: 50%;
  border: 1px solid #17416B;
  border-radius: 6px;
  padding: 12px;
  display: flex;
}
/* .PlanHeader :first-child{
  width:35%;
} */
.PlanHeader :nth-child(2){
  margin-left: 3%;
  /* line-height: 3; */
}
.PlanHeader + div{
  margin-top: 20px;
  margin-bottom: 20px;
}
.HealthPlan p{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: #07213C;
}
@media only screen and (max-width: 600px) {
  .PlanHeader :nth-child(2){
    margin: auto;
  }
  .PlanHeader{
    width: 100%;
  }
}