.TestHeader{
  display: flex;
  justify-content: space-around;
  
}
.TestSubHeader div{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.002em;
  color: #07213C;
}
.TestSubHeader{
  margin: 10px;
}
.TestSubHeader table tbody tr td {
  width: 50%;
}
.TestDetails{
  background: url('../../assets/Jeeva-upright-circles.svg')  no-repeat center;
  height: 552px;
}
.BackButton{
  border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
.plusIcon {
  color: yellow;
  width: 24px;
  height: 24px;
 }
 .TestDetailsContainer{
   margin: 10px;
 }
 .TestDetailsContainer label{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  
  display: flex;
  align-items: center;
  letter-spacing: 0.002em;
  
  /* Black Text */
  
  color: #07213C;
 }
 .dateDetails{
  width: 100%;
}

.dateDetails,.settingOtherDetails{
  margin: 10px;
}
.dateDetails tbody tr td:first-child{
  width: 600px;
  }
  .dateDetails tbody tr td,.settingOtherDetails tbody tr td{
padding: 10px;
  }
 @media only screen and (min-width: 990px) {
 .TestDetails{
  width: 50%
 }
}