.TestHeader{
  display: flex;
  justify-content: space-around;
  
}
.TestSubHeader div{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.002em;
  color: #07213C;
}
.TestSubHeader{
  margin: 10px;
}
.TestSubHeader table tbody tr td {
  width: 50%;
}
.TestDetails{
  background: url('../../assets/Frame_test.png')  no-repeat center;
  height: 552px;
}
.BackButton{
  border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
.plusIcon {
  color: yellow;
  width: 24px;
  height: 24px;
 }