.CalenderContainer{
  padding: 5px;
  margin-top: 20px;
}
.CalenderContainer > div:nth-child(1){
display: flex;
justify-content: flex-end;
margin: 20px;
}
.CalenderContainer td{
  border: 1px solid #A9D9FF;
  height: 70px;
}
div[class^='Cell-dayOfWeek-'],.CalenderContainer td{
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.0215em;
  color:#07213C ;
}
div[class^='Cell-today-']{
height:100%;
width:100%;
border-radius: 0px;
margin-top:0px;
padding: 1rem;
background: #3168A7;
}
.CalenderContainer table tbody{
  border: 1px solid #A9D9FF;
}
div[class^='Cell-text-'],div[class^='Cell-today-']{
  padding: 1rem;
}
div[class^="makeStyles-appointment"] {
  height: 7px;
  background: #ffff00;
  margin-top: 1.2rem;
}
.MuiPaper-elevation1{
  box-shadow: none!important;
} 
.checkupDetails{
  margin: 30px 0px;
}
.checkupDetails label{
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.002em;
color: #17416B;
margin-bottom: 20px;
}

/* remove all below css till comment and check another view */
.MuiToolbar-root > button:first-child{
display: none;
width: 0px;
}
.CalenderContainer .MuiToolbar-regular{
  border-radius: 8px;
  background: #A9D9FF!important;
  padding: 8px;
}
.CalenderContainer .MuiButton-label{
  font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
align-items: center;
text-align: center;
letter-spacing: 0.002em;
color: #17416B;
flex: none;
order: 1;
flex-grow: 1;
margin: 0px 0px;
}
.CalenderContainer .MuiIconButton-label svg{
  fill:  #3168A7!important;
}
.CalenderContainer .MuiToolbar-root div button:nth-child(4)
{
display: none;
width: 0px;
}
.CalenderContainer .MuiToolbar-root {
  align-items: unset!important;
  display: block!important;
}
.FlexibleSpace-flexibleSpace-8 {
  margin-left: 0px!important;
  display: none!important;
}
.CalenderContainer div[class^="RootBase-root-"] {
  display: flex;
  justify-content: space-between;
}
.CalenderContainer div[class^="RootBase-root-"] button:nth-child(2){
order: 4;
}
.OpenButton-textButton-6 {
  display: block!important;
}
/* cmt end */
@media only screen and (min-width: 990px) {
.CalenderContainer{
  width: 70%;
}
}
@media only screen and (min-width:768px) and (max-width:990px) {
  .CalenderContainer{
    margin: 0px 100px 0px 100px;
  }
}
.appointment{
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FCFEFF;
/* Logo Blue Primary */
padding: 15px;
border: 1px solid #2F9DED;
box-sizing: border-box;
border-radius: 6px;
}
.appointment div:first-child{
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

letter-spacing: 0.002em;

/* Black Text */

color: #07213C;


/* Inside Auto Layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}
.appointment div:last-child span{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  
  letter-spacing: 0.0215em;
  
  /* Black 85 Text */
  
  color: rgba(7, 33, 60, 0.85);
  
  
  /* Inside Auto Layout */
  
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 8px;
}