
/* ==========================Label Style =================================================*/
.SinglSelectDropDown label ,.RadioButton label,.DatePicker div label,.DatePicker label,.CustomTextBoxLabel,.CheckboxHeader,.DatePicker1 label{
  font-family: Open Sans!important;
  font-style: normal!important;
  font-weight: normal!important;
  font-size: 16px!important;
  line-height: 20px!important;
  letter-spacing: 0.0215em!important;
  color: #07213c!important;
  flex: none!important;
  order: 0!important;
  align-self: stretch!important;
  flex-grow: 0!important;
  margin: 0px 0px!important;
  text-align: left!important;
}
.subHeader{
  font-family: Open Sans!important;
  font-style: normal!important;
  font-weight: normal!important;
  font-size: 14px!important;
  line-height: 20px!important;
  letter-spacing: 0.0215em!important;
  flex: none!important;
  order: 0!important;
  align-self: stretch!important;
  flex-grow: 0!important;
  margin: 0px 0px!important;
  text-align: left!important;
}
/* ==========================SinglSelectDropDown =================================================*/
.SinglSelectDropDown,.RadioButtonant {
  /* width: 100%!important; */
    padding-right: var(--bs-gutter-x,.75rem)!important;
    /* padding-left: var(--bs-gutter-x,.75rem)!important; */
    margin-right: auto!important;
    margin-left: auto!important;
}
.SinglSelectDropDown select,.SinglSelectDropDown select:focus{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  
  width: 272px;
  height: 32px;
  left: 0px;
  top: 0px;
  
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FCFEFF;
  /* Saturated Blue */
  
  border: 1px solid #3168A7;
  box-sizing: border-box;
  border-radius: 6px;
  
  /* Inside Auto Layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

label + .MuiInput-formControl {
  margin-top: 5px!important;
}
/* ==========================RadioButton =================================================*/
.MuiTypography-body1 {
  font-family: Open Sans!important;
  font-style: normal;
  font-weight: normal!important;;
  font-size: 16px!important;;
  line-height: 24px!important;;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em!important;;
  color: #07213C;
  margin: 0px 8px;
}
.MuiRadio-colorSecondary.Mui-checked,.MuiCheckbox-colorSecondary.Mui-checked {
  color:#3168A7!important
}
.RadioButton .MuiFormGroup-root{
  margin-left: -10px;
}
/* ==========================DatePickers =================================================*/
.DatePicker > div > div > input{
  width: 250px;
  border:2px solid #15191d;
}
.DatePicker1 > div{
  border: 1px solid #808C9A;
box-sizing: border-box;
border-radius: 6px;
}
.MuiInput-underline:before{
  border-bottom: none!important
}
/* ==========================Form Row =================================================*/
.container {
  margin-bottom: 10px;
}
.container input {
  /* display:flex; */
  flex-direction: row;
  align-items: center;
  padding: 4px;
  position: static;
  width: 272px;
  height: 32px;
  left: 0px;
  top: 20px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FCFEFF;
  border: 1px solid #3168A7;
  border-radius: 6px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: auto;
}
.container label {
  /* text-align: center; */
  display: flex;
  margin-bottom: 5px;
  font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

letter-spacing: 0.0215em;

/* Black Text */

color: #07213C;
}
.container input:focus{
  outline: none;
  }
.container input[type='number']::-webkit-outer-spin-button,
.container input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.container input[type='number'] {
  -moz-appearance: textfield;
}
/* ========================== CustomTextBox =================================================*/
.CustomTextBox{
  display: flex;
  height: 32px;
  width: 251px
}

.CustomTextBox input[type='number']:nth-child(1):focus{
outline: none;
}
.endAdornment input[type='number']:nth-child(1),.endAdornment input[type='text']:nth-child(1){
  border: 1px solid #808C9A;
  box-sizing: border-box;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right:0px!important;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
  width: 200px;
  
}
.endAdornment input[type='text']:nth-child(2){
  width: 50px;
  border: 1px solid #808C9A;
  box-sizing: border-box;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left:0px;
}
.CustomTextBox input[type='number']:nth-child(1){
  border: 1px solid #808C9A;
  box-sizing: border-box;
  border-radius: 6px;
  width: 250px;
  
}
.CustomTextBox input[type='text']{
  outline: none;
}

.CustomTextBox input[type='number']::-webkit-outer-spin-button,
.CustomTextBox input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.CustomTextBox input[type='number'] {
  -moz-appearance: textfield;
}
/* ========================== Autosueestion box =================================================*/

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
background: #FCFEFF;
border: 1px solid #A9D9FF;
border-radius: 6px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  /* top: 51px; */
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

/* ========================== Checkbox =================================================*/
.Checkbox label{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.005em;
  color: #07213C;
  display: unset!important;
}
/* form{
  padding: 10%;
} */
.MuiAccordion-root{
  background:#EEF8FF!important
}
.chip,.highlightOption {
  background: #3168A7!important
}
.Textbox div input,.MuiOutlinedInput-input{
  padding: 7px 0px 9px 10px!important
}
/* auto fill css for textbox */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.MuiAccordionDetails-root{
  display: block!important;
}
.MuiAccordionDetails-root p{
  flex: none!important;
  display: block!important;
}
.MuiFormHelperText-root.Mui-error {
display: none!important;
}

.ButtonContainer{
  display:flex;
  justify-content:center
}

@media only screen and (min-width: 990px) {
  .container input,.SinglSelectDropDown select, .SinglSelectDropDown select:focus{
    width: 370px;
  }
  .container{
    margin-left: 200px;
  }
}
.MuiIconButton-label input{
width: 0px;
}
.TooltipClass{
  color:#17416B
}



