
/* ==========================Label Style =================================================*/
.SinglSelectDropDown label ,.RadioButton label,.DatePicker div label,.DatePicker label,.CustomTextBoxLabel,.CheckboxHeader,.DatePicker1 label{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.0215em;
  color: #07213c;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
  text-align: left;
}
/* ==========================SinglSelectDropDown =================================================*/
.SinglSelectDropDown div {
  width: 250px;
  display: flex;
  flex-direction: row;
  padding: 4px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #fcfeff;
  border: 1px solid #07213c;
  border-radius: 6px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
/* ==========================RadioButton =================================================*/
.MuiTypography-body1 {
  font-family: Open Sans!important;
  font-style: normal;
  font-weight: normal!important;;
  font-size: 16px!important;;
  line-height: 24px!important;;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em!important;;
  color: #07213C;
  margin: 0px 8px;
}
.MuiRadio-colorSecondary.Mui-checked,.MuiCheckbox-colorSecondary.Mui-checked {
  color:#3168A7!important
}
/* ==========================DatePickers =================================================*/
.DatePicker > div > div > input{
  width: 250px;
  border:2px solid #15191d;
}
.DatePicker1 > div{
  border: 1px solid #808C9A;
box-sizing: border-box;
border-radius: 6px;
}
.MuiInput-underline:before{
  border-bottom: none!important
}
/* ==========================Form Row =================================================*/
.container {
  margin-bottom: 10px;
}
.container input {
  display: block;lay: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  position: static;
  width: 272px;
  height: 32px;
  left: 0px;
  top: 20px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FCFEFF;
  border: 1px solid #3168A7;
  border-radius: 6px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: auto;
}
.container label {
  text-align: center;
  display: block;
  margin-bottom: 5px;
}

/* ========================== CustomTextBox =================================================*/
.CustomTextBox{
  display: flex;
  height: 32px;
  width: 251px
}

.CustomTextBox input[type='number']:nth-child(1):focus{
outline: none;
}
.endAdornment input[type='number']:nth-child(1),.endAdornment input[type='text']:nth-child(1){
  border: 1px solid #808C9A;
  box-sizing: border-box;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right:0px!important;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
  width: 200px;
  
}
.endAdornment input[type='text']:nth-child(2){
  width: 50px;
  border: 1px solid #808C9A;
  box-sizing: border-box;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left:0px;
}
.CustomTextBox input[type='number']:nth-child(1){
  border: 1px solid #808C9A;
  box-sizing: border-box;
  border-radius: 6px;
  width: 250px;
  
}
.CustomTextBox input[type='text']{
  outline: none;
}

.CustomTextBox input[type='number']::-webkit-outer-spin-button,
.CustomTextBox input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.CustomTextBox input[type='number'] {
  -moz-appearance: textfield;
}
/* ========================== Checkbox =================================================*/
.Checkbox label{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.005em;
  color: #07213C;
  display: unset!important;
}
form{
  padding: 10%;
}
.MuiAccordion-root{
  background:#EEF8FF!important
}
.chip,.highlightOption {
  background: #3168A7!important
}
.Textbox div input,.MuiOutlinedInput-input{
  padding: 7px 0px 9px 10px!important
}
/* auto fill css for textbox */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.MuiAccordionDetails-root{
  display: block!important;
}
.MuiAccordionDetails-root p{
  flex: none!important;
  display: block!important;
}
