.UserHome .heading{
  font-size: 34px;
  font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 48px;
/* or 141% */
padding: 20px;
letter-spacing: 0.0025em;

/* Dark Blue Primary */

color: #17416B;
}

.Profile{
  display: flex;
  justify-content: center;
}
/* .Profile div{
  flex: none;
} */
.Profile div {
  align-self: flex-end;
}
.NameHolder{
  font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* or 150% */
padding-left: 15px;;
text-align: center;
letter-spacing: 0.0015em;

/* Black Text */

color: #07213C;
}
.Profile .ProfileButtonContainer{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height: 6rem;
}
.Profile .ProfileButtonContainer div{
  background: red;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.FamilyMemberContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 

}
@media only screen and (min-width: 990px) {
  .AddMemberLogo{
    display: flex;
    justify-content: center;
  }
  .AddMemberLogo img{
    height: 160px;
  }
.AddMemberLogo,.ProfileContainer{
  /* flex-grow: 1; */
  width: 33.33%;
  height: 100px;
  margin-top: 50px;
}
.MainUser{
  width: 100%;
}
.UserHome .heading{
  
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  /* identical to box height, or 120% */
  text-align: center;
  
  /* Saturated Blue */
  
  
  /* backdrop-filter: blur(4px); */
  
  }
}