
.UserHome .heading{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 48px;
  /* or 141% */
  letter-spacing: 0.0025em;
  /* Dark Blue Primary */
  color: #17416B;
}
.Profile{
  display: flex;
  justify-content: center;
}
/* .Profile div{
  flex: none;
} */
.Profile div {
  align-self: flex-end;
}
.NameHolder{
  font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* or 150% */

text-align: center;
letter-spacing: 0.0015em;

/* Black Text */

color: #07213C;
}
.Profile .ButtonContainer{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height: 6rem;
}
.Profile .ButtonContainer div{
  background: red;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.FamilyMemberContainer{
  display:flex;
  justify-content: space-evenly;
  margin-top: 15px;
}