.CreateCheckupContainer{
  padding: 30px;
  margin-top: -60px;
}
.CreateCheckupContainer label{
  font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 32px;
/* identical to box height, or 145% */

display: flex;
justify-content: center;
align-items: center;
text-align: center;
letter-spacing: 0.005em;

/* Saturated Blue */

color: #3168A7;
}
.CreateCheckupContainer .inlineDatePicker,.inlineDatePicker:focus,.inlineDatePicker:focus-visible{
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FCFEFF;

/* Inside Auto Layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
border: 0px!important;
border-bottom: 1px solid #A9D9FF!important;
outline: none;
width: 100%;
/* Inside Auto Layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.CreateCheckupContainer .DateRangeIcon{
  fill: #17416B;
}
.CreateCheckupContainer.RoomIcon{
  fill: #808C9A;
}
.CreateCheckupContainer .MuiGrid-container{
margin-bottom: 15px;
justify-content: center;
}
.CreateCheckupContainer .provider{
  width: 100%;
}
.provider,.selfcheckup,.inlineDatePicker{
  border-bottom: 1px solid #dcd8d8;
}
.inlineDatePicker {
  margin-top: 15px;
}
.CreateCheckupContainer .selfcheckup{
  width: 83%;
  margin-left: 60px;
  margin-top: 8px;
}

@media only screen and (min-width: 990px) {
.CreateCheckupContainer{
  width: 50%;
  margin-top: 10px;
}
}
.Autocomplete{
  display: flex;
flex-direction: row;
align-items: center;
padding: 8px;


height: 40px;

/* White Text */

background: #FCFEFF;
/* Blue Primary */

border: 1px solid #A9D9FF;
border-radius: 6px;

/* Inside Auto Layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 8px 30px;
width: 90%;
}