.Login p,.Register p a{
  text-align: center;
  /* Text/Small Text Regular */

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
/* 
display: flex; */
letter-spacing: 0.0215em;

/* Black Text */

color: #07213C;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 1;
margin: 0px 4px;
}