.FormContainer {
  margin: 100px auto;
  width: 90%;
  margin-top: -20px;
}
.FormContainer p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: initial;
  letter-spacing: 0.0215em;
  color: rgba(7, 33, 60, 0.85);
}
.FormContainer h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  text-align: initial;
  letter-spacing: 0.002em;
  color: #07213c;
}
.FormContainer form .DetailsContainer{
  border: 1px solid #a9d9ff;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 2%;
  margin-top: 10px;
}
.FormContainer .TopicHeading {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.005em;
  color: #07213C;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 20px 0px;
}
.FormContainer form .DetailsContainer > div{
  margin-bottom: 20px;
}
@media only screen and (min-width: 990px) {
.FormContainer{
  width: 50%;
  margin: 0;
  padding: 15px;
}
.DetailsContainer .container{
margin-left: 0px;
}
.FormContainer form .DetailsContainer{
  border: none;
}
}