.nav-item.nav-link{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: #17416B!important;
}
.nav-item.nav-link.active,.active{
  background: #A9D9FF;
}
.navbar-light .navbar-toggler.hamberger{
  border: none;
  color: transparent;
}
button .hamberger:focus:not(:focus-visible) {
  border: none!important;
  outline: none!important;
}
.navbar-brand{
  flex: auto;
}

.registerButton{
  width: 89px;
  height: 32px;
  background: #F9E24D;
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #07213C!important;
}
.navbar-collapse.show .navbar-nav {
  background-color: rgba(0,0,0,0.0);
  transition-delay: 5.2s!important;
}
.navbar-collapse.show .navbar-nav:before {
  background-color:#7dcc3d!important;
  transition-property: margin, transform!important;
  transition-duration: .3s!important;
  transition-delay: .3s, 0!important;
}
.navbar-collapse.show .navbar-nav:before {
  margin-top: 5px!important;
  transform: rotate(45deg)!important;
  transition-delay: 0, .3s!important;
}
.navbar-collapse.show .navbar-nav:after {
  background-color:#7dcc3d!important;
  transition-property: margin, transform!important;
  transition-duration: .3s!important;
  transition-delay: .3s, 0!important;
}
.navbar-collapse.show .navbar-nav:after {
  margin-top: 8px!important;
  transform: rotate(-45deg)!important;
  transition-delay: 0, .3s!important;
}
/* //add media querry */
@media only screen and (max-width: 600px) {
  .collapse.navbar-collapse.show{
    width: 50%!important;
    }
    .collapse.navbar-collapse.show {
      width: 80%!important;
      top: 0;
      position: absolute;
      background: white;
      
    }
    .navbar-nav{
      height: 600px;
    }
}
@media only screen and (min-width: 900px) {
.HomeContainer{
  display: flex;
}
.leftPannel{
  /* flex-basis: 10%; */
  border: 1px solid #A9D9FF;

}
.leftPannel div:first-child{
  margin-top: 40px;
}
.leftPannel div{
  padding: 10px;
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;

position: static;
width: 281px;
height: 56px;
left: 0px;
top: 168px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

}
}

/* ************* */
.socialMediaContainer{
  bottom: 0;
  position: absolute;
}
.socialMediaContainer img{
  margin: 5px;
}
.socialMediaContainer .linkedinLogo
{
  margin-top: 13px;
}
.show{
  z-index: 1;
}
.customNav{
  height: 35px;
  background-color: #A9D9FF;
}
.customNavBg{
  
  background-color: #A9D9FF;
}